ul.leaders {
    max-width: 100em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1}
	
	
.menuItemContainer{	
	font-family: 'Raleway';	
	line-height: 150%;
	margin-top:15px;
	width:70%;
	/*color:red;*/
}
.contentText{
	color: lightcoral;
	font-size: 16pt;
}

.menuRightItem {
	min-width: 100px;
}

.mapImage{
	height: 450px;
	width: 100%; 
}

@media only screen and (max-width: 600px) {		
	.menuItemContainer{	
		font-family: 'Raleway';
		line-height: 150%;
		margin-top:15px;
		width:100%;
		/*color: green;*/
	}
	.contentText{
		color: lightcoral;
		font-size: 12pt;
	}
	.mapImage{
		height: 370px;
		width: 100%; 
	}
}